USE [master]
GO
/****** Object:  Database [DbCv]    Script Date: 6/27/2023 4:38:35 AM ******/
CREATE DATABASE [DbCv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbCv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbCv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbCv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbCv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbCv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbCv]
GO
/****** Object:  Table [dbo].[TblAdmin]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAdmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](20) NULL,
	[Sifre] [varchar](20) NULL,
 CONSTRAINT [PK_TblAdmin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDeneyimlerim]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDeneyimlerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[AltBaslik] [varchar](100) NULL,
	[Aciklama] [varchar](max) NULL,
	[Tarih] [varchar](100) NULL,
 CONSTRAINT [PK_TblDeneyimlerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEgitimlerim]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEgitimlerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[AltBaslik1] [varchar](100) NULL,
	[AltBaslik2] [varchar](100) NULL,
	[GNO] [varchar](10) NULL,
	[Tarih] [varchar](100) NULL,
 CONSTRAINT [PK_TblEgitimlerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHakkimda]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHakkimda](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](30) NULL,
	[Soyad] [varchar](30) NULL,
	[Adres] [varchar](50) NULL,
	[Telefon] [varchar](30) NULL,
	[Mail] [varchar](30) NULL,
	[Aciklama] [varchar](max) NULL,
	[Resim] [varchar](100) NULL,
 CONSTRAINT [PK_TblHakkimda] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHobilerim]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHobilerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama1] [varchar](500) NULL,
	[Aciklama2] [varchar](500) NULL,
 CONSTRAINT [PK_TblHobilerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbliletisim]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbliletisim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](100) NULL,
	[Mail] [varchar](50) NULL,
	[Konu] [varchar](100) NULL,
	[Mesaj] [varchar](1000) NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_Tbliletisim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSertifikalarim]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSertifikalarim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](250) NULL,
	[Tarih] [varchar](30) NULL,
 CONSTRAINT [PK_TblSertifikalarim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblYeteneklerim]    Script Date: 6/27/2023 4:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblYeteneklerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Yetenek] [varchar](100) NULL,
	[Oran] [tinyint] NULL,
 CONSTRAINT [PK_TblYeteneklerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblDeneyimlerim] ON 

INSERT [dbo].[TblDeneyimlerim] ([ID], [Baslik], [AltBaslik], [Aciklama], [Tarih]) VALUES (2, N'Udemy', N'Icerik uretici 2', N'loremm3', N'2023 Mayis')
SET IDENTITY_INSERT [dbo].[TblDeneyimlerim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblEgitimlerim] ON 

INSERT [dbo].[TblEgitimlerim] ([ID], [Baslik], [AltBaslik1], [AltBaslik2], [GNO], [Tarih]) VALUES (5, N'Gaziantep Üniversitesi ', N'Teknoloji fakultesi', N'Bilgisayar Programcılık', N'3.36', N'2019 Eylül - 2021 Haziran')
INSERT [dbo].[TblEgitimlerim] ([ID], [Baslik], [AltBaslik1], [AltBaslik2], [GNO], [Tarih]) VALUES (6, N'Gaziantep Üniversitesi 3', N'Teknoloji fakultesi', N'Bilgisayar Programcılık', N'3.36', N'2019 Eylül - 2021 Haziran')
SET IDENTITY_INSERT [dbo].[TblEgitimlerim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblHakkimda] ON 

INSERT [dbo].[TblHakkimda] ([ID], [Ad], [Soyad], [Adres], [Telefon], [Mail], [Aciklama], [Resim]) VALUES (1, N'Özcan', N'Kara', N'İstanbul/Ataşehir', N'0 (539) 516 1220', N'ozcankara810@gmail.com', N'Merhaba ,Ben Özcan Kara Hataylıyım.', N'OzcanKara.jpeg')
SET IDENTITY_INSERT [dbo].[TblHakkimda] OFF
GO
SET IDENTITY_INSERT [dbo].[TblHobilerim] ON 

INSERT [dbo].[TblHobilerim] ([ID], [Aciklama1], [Aciklama2]) VALUES (1, N'Spor yapmak', N'Spor yapmak')
SET IDENTITY_INSERT [dbo].[TblHobilerim] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbliletisim] ON 

INSERT [dbo].[Tbliletisim] ([ID], [AdSoyad], [Mail], [Konu], [Mesaj], [Tarih]) VALUES (1, N'Ozcan Kara', N'ozcan23@gmail.com', N'Is ilani 6', N'bizimle calisin', CAST(N'2023-01-04' AS Date))
INSERT [dbo].[Tbliletisim] ([ID], [AdSoyad], [Mail], [Konu], [Mesaj], [Tarih]) VALUES (2, N'Ozcan 2', N'ozcan12@gmail.com', N'Is ilani99', N'bizimle calisin22', CAST(N'2023-12-19' AS Date))
INSERT [dbo].[Tbliletisim] ([ID], [AdSoyad], [Mail], [Konu], [Mesaj], [Tarih]) VALUES (3, N'Ozcan 2', N'ozcan3455@gmail.com', N'Is ilani7', N'bizimle calisin22333', CAST(N'2023-05-28' AS Date))
SET IDENTITY_INSERT [dbo].[Tbliletisim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblSertifikalarim] ON 

INSERT [dbo].[TblSertifikalarim] ([ID], [Aciklama], [Tarih]) VALUES (1, N'Udemy Laravel', N'Haziran 2022')
INSERT [dbo].[TblSertifikalarim] ([ID], [Aciklama], [Tarih]) VALUES (2, N'Btk Html', N'Haziran 2022')
INSERT [dbo].[TblSertifikalarim] ([ID], [Aciklama], [Tarih]) VALUES (3, N'btk php', N'haziran 2022')
SET IDENTITY_INSERT [dbo].[TblSertifikalarim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblYeteneklerim] ON 

INSERT [dbo].[TblYeteneklerim] ([ID], [Yetenek], [Oran]) VALUES (1, N'C# Programlama Dili', 95)
INSERT [dbo].[TblYeteneklerim] ([ID], [Yetenek], [Oran]) VALUES (2, N'Php  Programlama Dili', 100)
INSERT [dbo].[TblYeteneklerim] ([ID], [Yetenek], [Oran]) VALUES (3, N'Laravel Framework', 100)
SET IDENTITY_INSERT [dbo].[TblYeteneklerim] OFF
GO
USE [master]
GO
